.md-modal-wrapper {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.md-modal-wrapper.show {
    display: flex;
}

.md-modal-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}

.md-modal {
    position: relative;
    background-color: white;
    display: none;
    z-index: 999;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
}

.md-modal-header {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px;
    z-index: 999;
    margin-bottom: 25px;
}

.md-modal.show {
    display: block;
}

.md-modal .close-modal {
    position: absolute;
    top: 0;
    right: -20px;
    cursor: pointer;
}